@import url('https://fonts.cdnfonts.com/css/clash-display');
@import url('https://fonts.cdnfonts.com/css/general-sans');
@import url('./styles/preflight.css');

:root {
  --theme-color: #de527f;
  --text-gray: #7b7b7b;
  --heading: "Clash Display", sans-serif;
}

body {
  font-family: 'General Sans', sans-serif;
  background-image: url("./assets/main_bg.png");
}